
{{ define "content" }}
  <!--
<section id="posts" class="posts">
  {{ $pages := .Pages }}
  {{ if .IsHome }}
    {{ $pages = where .Site.RegularPages "Type" "in" site.Params.mainSections }}
  {{ end }}
  {{ $paginator := .Paginate $pages }}
  {{ range $paginator.Pages }}
    {{ .Render "summary" }}
  {{ end }}
</section>
-->
  <!--==========================================
                    Profile
  ===========================================-->
      <div id="home" class="parallax-container scrollspy">
  
  
        <div class="container row cover-block">
      
      
          <div class="profile-content-block col s12 m12 l8">
              <h5 class="profile-name">Weiming Hu (胡洧铭)</h5>
      
              <hr>
              <img class="responsive-img profile-photo z-depth-2" width="5%" src="./img/wmhu.jpg">
              <h6 class="profile-link"><strong>Master Student at</strong> <a href="https://sist.shanghaitech.edu.cn/"><strong>School of Information Science and Technology (SIST)</strong></a></h6>
              <h6 class="profile-link">ShanghaiTech University, Shanghai, China 201210</h6>
              <h6 class="profile-link">Email: huwm1@shanghaitech.edu.cn, huweim1120@gmail.com</h6>
              
              <h1></h1>
              
          
          </div>    
        
        </div>
      
      </div>
  <!--==========================================
                     About
  ===========================================-->
      <div class="section about-section scrollspy" id="biography">
  
        <div class="row container">
          <br><br>
          <div class="row">
            <div class="title">Biography</div>
            <hr>
          </div>
          
          <div class="row">
            <p>
              Weiming Hu is now a Master student in Computer Science, <a href="https://sist.shanghaitech.edu.cn/">School of Information Science and Technology</a>, ShanghaiTech University starting from Autumn 2020. 
              His research advisor is Prof. Xin Lou and Yuanfeng Wang.
            </p>
            <p>
              Weiming Hu received the B. E. degree from College of Architecture & Environment, Sichuan University, Sichuan, China, in 2020.
            </p>
            <p>
              Weiming Hu's research interests include Computer Architecture, with a focus on GPGPU Micro-architecture, Hardware/Software Co-Design.
            </p>
            <p>
            <font color="red">
            <i>
              I am looking for PhD position in 2023 fall.
            </i>
            </font>
            </p>
            <p>
          </p>
        </div>
      </div>
  <!--==========================================
                     Publications
  ===========================================-->
  <!-- comment temporarily 2022-06-10 19:40:39
  <div class="section publications-section scrollspy" id="publications">
  
    <div class="row container">
      <div class="row">
        <div class="title">Selected Publications</div>
        <hr>
      </div>
  
      <div class="row">
          <div class="col s12 m12 l4 center aos-init aos-animate" data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-once="true">
              <img class="responsive-img" src="./images/scrdet++.png">
          </div>
  
          <div class="col s12 m12 l8 aos-init aos-animate" data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-once="true">
            <div class="paper-title">SCRDet++: Detecting Small, Cluttered and Rotated Objects via Instance-Level Feature Denoising and Rotation Loss Smoothing</div>
            <div class="paper-author"><font color="#0000dd"><b>Xue Yang</b></font>, Junchi Yan, Wenlong Liao, Xiaokang Yang, Jin Tang, Tao He</div>
            <div class="paper-conf"><em>IEEE Transactions on Pattern Analysis and Machine Intelligence <font color="red"><b>(TPAMI, CCF-A)</b></font></em>, 2022</div> 
  
            <div>
              <a href="https://arxiv.org/abs/2004.13316" target="_blank"><img src="http://img.shields.io/badge/cs.CV-arXiv%3A2004.13316-B31B1B.svg" /></a>
            </div>
            <div>
              <img src="https://img.shields.io/github/stars/DetectionTeamUCAS/RetinaNet_Tensorflow_Rotation?style=social" />
              <a href="https://github.com/DetectionTeamUCAS/RetinaNet_Tensorflow_Rotation" target="_blank">[IoU-Smooth L1 Loss-TF], </a>
              <img src="https://img.shields.io/github/stars/SJTU-Thinklab-Det/DOTA-DOAI?style=social" />
              <a href="https://github.com/SJTU-Thinklab-Det/DOTA-DOAI" target="_blank">[DOTA-DOAI]</a>
            </div>
            <div>
              <img class="responsive-img icon" src="./images/dataset2.jpeg">
              <a href="https://github.com/Thinklab-SJTU/S2TLD" target="_blank">[S<sup>2</sup>TLD]</a>
            </div>
            <div>
              <img class="responsive-img icon" src="./images/homepage.png">
              <a href="./SCRDet++.html" target="_blank">[project page]</a>
            </div>
          </div>
        </div>
  
        <hr class="publication-hr">
  
      <div class="row">
          <div class="col s12 m12 l4 center aos-init aos-animate" data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-once="true">
              <img class="responsive-img" src="./images/csl_gcl_ohdet.png">
          </div>
  
          <div class="col s12 m12 l8 aos-init aos-animate" data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-once="true">
            <div class="paper-title">On the Arbitrary-Oriented Object Detection: Classification based Approaches Revisited</div>
            <div class="paper-author"><font color="#0000dd"><b>Xue Yang</b></font>, Junchi Yan</div>
            <div class="paper-conf"><em>International Journal of Computer Vision <font color="red"><b>(IJCV, CCF-A)</b></font></em>, 2022</div> 
  
            <div>
              <a href="https://arxiv.org/abs/2003.05597" target="_blank"><img src="http://img.shields.io/badge/cs.CV-arXiv%3A2003.05597-B31B1B.svg" /></a>
            </div>
            <div>
              <img src="https://img.shields.io/github/stars/Thinklab-SJTU/CSL_RetinaNet_Tensorflow?style=social" />
              <a href="https://github.com/Thinklab-SJTU/CSL_RetinaNet_Tensorflow" target="_blank">[CSL-TF], </a>
              <img src="https://img.shields.io/github/stars/Thinklab-SJTU/DCL_RetinaNet_Tensorflow?style=social" />
              <a href="https://github.com/Thinklab-SJTU/DCL_RetinaNet_Tensorflow" target="_blank">[DCL-TF], </a>
              <img src="https://img.shields.io/github/stars/SJTU-Thinklab-Det/OHDet_Tensorflow?style=social" />
              <a href="https://github.com/SJTU-Thinklab-Det/OHDet_Tensorflow" target="_blank">[OHDet-TF]</a>
            </div>
            <div>
              <img class="responsive-img icon" src="./images/dataset2.jpeg">
              <a href="OHD-SJTU.html" target="_blank">[OHD-SJTU]</a>
            </div>
            <div>
              <img class="responsive-img icon" src="./images/homepage.png">
              <a href="./CSL_GCL_OHDet.html" target="_blank">[project page]</a>
            </div>
          </div>
        </div>
  
        <hr class="publication-hr">
  
  
  
        <div align='right'> <a href="./publications.html" class="more" target="_blank"><i></i> <font color="#A9A9A9" size="2">LEARN MORE>></font> </a></div>
    </div>
  
  
  </div> -->
  <!--==========================================
                     Education
  ===========================================-->
      <div class="section education-section scrollspy" id="education">
        <div class="row container">
          <div class="row">
            <div class="title">Education</div>
            <hr>
          </div>
          
          <div class="row">
              <div class="col s12 m12 l4 center aos-init aos-animate" data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-once="true">
                <a href="http://www.csu.edu.cn/" target="_blank">
                  <img src="./img/sichuan_university.png" style="width:110px;height:110px;" align="center" class="img-responsive edu-img">
                </a>
              </div>
  
              <div class="col s12 m12 l8 aos-init aos-animate" data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-once="true">
                <p></p>
                <p></p>
                <p></p>
                <div class="degree"></div>
                <div class="degree"><b>B.E.</b> degree from College of Architecture & Environment, Sichuan University, Sichuan, China</div>
                <div class="date">Sep. 2016 - July 2020</div>
              </div>
          </div>
  
          <div class="row">
              <div class="col s12 m12 l4 center aos-init aos-animate" data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-once="true">
                <a href="https://eece.ucas.ac.cn/index.php/zh-cn/" target="_blank">
                  <img src="./img/shanghaitech_university.png" style="width:110px;height:110px;" align="center" class="img-responsive edu-img">
                  <!-- <img src="./images/iecas.jpeg" style="width:100px;height:100px;" align="center" class="img-responsive edu-img"> -->
                  <!-- <img src="./images/air.png" style="width:100px;height:100px;" align="center" class="img-responsive edu-img"> -->
                </a>
              </div>
  
              <div class="col s12 m12 l8 aos-init aos-animate" data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-once="true">
                <p></p>
                <p></p>
                <p></p>
                <div class="degree"></div>
                <div class="degree"><b>M.S.</b> degree from <a href="https://sist.shanghaitech.edu.cn/">School of Information Science and Technology</a>, <a href="https://www.shanghaitech.edu.cn/">ShanghaiTech University</a><!--  (<a href="http://aircas.ac.cn/">Institute of Electrics, Chinese Academy of Sciences</a>) -->, Shanghai, China</div>
                <div class="date">Sep. 2020 - July 2023 (Expected)</div>
              </div>
          </div>
  
        </div>
      </div>
  <!-- ==========================================
                     Projects
  =========================================== -->
      <div class="section preprints-section scrollspy" id="projects">
  
        <div class="row container">
          <div class="row">
            <div class="title">Projects</div>
            <hr>
          </div>
  
            <div class="row">
  
              <div>
                <img class="responsive-img icon" width="2%" src="./img/github_icon.png">
                <a href="https://github.com/gpgpu-sim/gpgpu-sim_distribution" target="_blank">GPGPU-Sim</a><br>
              </div>
  
  
        </div>
  
      </div>
  <!-- ==========================================
                     Awards
  =========================================== -->
      <div class="section awards-section scrollspy" id="awards">
        <div class="row container">
          <div class="row">
            <div class="title">Awards</div>      
            <hr>
            <ul>
              <li> First prize of Sichuan Province in National Mathematics Competition for College Students, 2019</li>
              <li> Individual First-class Scholarship, 2018</li>
              <li> Individual Second-class Scholarship, 2017</li>
            </ul>
          </div>
        </div>
      </div>
<!-- pagination -->
<!--
{{ partial "pagination.html" . }}
-->
{{ end }}
