
{{ define "content" }}
<!--
<section id="posts" class="posts">
{{ $pages := .Pages }}
{{ if .IsHome }}
  {{ $pages = where .Site.RegularPages "Type" "in" site.Params.mainSections }}
{{ end }}
{{ $paginator := .Paginate $pages }}
{{ range $paginator.Pages }}
  {{ .Render "summary" }}
{{ end }}
</section>
-->
<!--==========================================
                  Profile
===========================================-->

<div id="home" class="parallax-container scrollspy">

  <div class="container row cover-block">


    <div class="profile-content-block col s12 m12 l8">
      <div style="width:250px; height:200px;float:left;">
        <img class="responsive-img profile-photo z-depth-2" width="140px" src="./img/wmhu2.jpg">
      </div>
      <div style="width:300px; height:200px;float:right;margin-left:10px;">
        <font size=5>Weiming Hu (胡洧铭)</font> <br>
        Email: <a href="mailto:weiminghu@sjtu.edu.cn"><font color="blue">weiminghu@sjtu.edu.cn</font></a>, <a href="mailto:huweim1120@gmail.com"><font color="blue">huweim1120@gmail.com</font></a> <br>
        <a href="./docs/CV_Weiming_Hu_2025.pdf"><font color="blue">Curriculum Vitae</font></a>
      </div>
    </div>   
  </div>
</div>

<!--==========================================
                   About
===========================================-->
<div class="section about-section scrollspy" id="biography">

  <div class="row container">
        
    <!-- <div class="row">
      <div class="title"><h2>Biography</h2><b></b></div>
      <hr>
    </div> -->
 
    
    <div class="row">
      <p>
        Hi! I am currently a second-year Ph.D. student in the Department of Computer Science and Engineering of Shanghai Jiao Tong University, advised by <a href="https://www.cs.sjtu.edu.cn/~leng-jw/"><font color="blue">Prof. Jingwen Leng</font></a>.
      </p>
      <p>
        Before this, I obtained my master degree at <a href="https://sist.shanghaitech.edu.cn/"><font color="blue">School of Information Science and Technology (SIST)</font></a>, ShanghaiTech University. I at that time researched under the supervision of <a href="https://sist.shanghaitech.edu.cn/louxin/main.htm"><font color="blue">Prof. Xin Lou</font></a> and Dr. Yuanfeng Wang. I received the B.E. degree from College of Architecture & Environment, Sichuan University in 2020.
      </p>
      <p>
        My research interests include <b>Computer Architecture</b>, with a focus on LLM Quantization, GPGPU Micro-architecture, and Hardware/Software Co-Design.
      </p>
      <p>
    </p>
  </div>
</div>
<!--==========================================
                   News
===========================================-->
<div class="section about news" id="news">

  <div class="row container">
        
    <div class="row">
      <div class="title"><h2>News!</h2><b></b></div>
      <hr>
    </div>
 
    
    <div class="row">
      <li>01/2025: Received the <b>Student Travel Grants</b> of HPCA 2025.</li>
      <li>12/2024: Participated in <a href="https://cnsys-2024fall.cn/"><font color="blue">ChinaSys</font></a> @ Tianjin.</li>
      <li>11/2024: One paper is accepted by <b>HPCA 2025</b>. Thanks to all my collaborators!</li>
      <li>09/2023: Started my Ph.D. studies at Shanghai Jiao Tong University.</li>
  </div>
</div>
<!--==========================================
                   Publications
===========================================-->
<!-- comment temporarily 2022-06-10 19:40:39 -->

<div class="section publications-section scrollspy" id="publications">

  <div class="row container">
    <div class="row">
      <div class="title"><h2>Publication</h2><b></b></div>
      <hr>
    </div>

    <div class="row">
      <div class="col s12 m12 l8 aos-init aos-animate" data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-once="true">
        <div class="paper-title"><b>M-ANT: Efficient Low-bit Group Quantization for LLMs via Mathematically Adaptive Numerical Type</b>
        </div>
        <div>
          <u>Weiming Hu</u>, Haoyan Zhang, Cong Guo, Yu Feng, Renyang Guan, Zhendong Hua, Zihan Liu, Yue Guan, Minyi Guo, Jingwen Leng
        </div>
         <em> International Symposium on High-Performance Computer Architecture (<b>HPCA</b> 2025)</em>  
        
        <div>
          To appear.
          <!-- <a href="https://arxiv.org/abs/2304.07493" target="_blank"><font color="red">[paper]</font></a> -->
          <!-- <img src="https://img.shields.io/github/stars/clevercool/ANT-Quantization?style=social" /> -->
          <!-- <a href="https://github.com/clevercool/ANT-Quantization" target="_blank"><font color="red">[code]</font></a> -->
        </div>

      <div class="col s12 m12 l8 aos-init aos-animate" data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-once="true">
        <div class="paper-title"><b>OliVe: Accelerating Large Language Models via Hardware-friendly Outlier-Victim Pair Quantization</b>
        </div>
        <div>
          Cong Guo*, Jiaming Tang*, <u>Weiming Hu</u>, Jingwen Leng, Chen Zhang, Fan Yang, Yunxin Liu, Minyi Guo, Yuhao Zhu
        </div>
         <em> Proceedings of the 50th Annual International Symposium on Computer Architecture (<b>ISCA</b> 2023)</em>
        
        <div>
          <a href="https://arxiv.org/abs/2304.07493" target="_blank"><font color="red">[paper]</font></a>
          <img src="https://img.shields.io/github/stars/clevercool/ANT-Quantization?style=social" />
          <a href="https://github.com/clevercool/ANT-Quantization" target="_blank"><font color="red">[code]</font></a>
        </div>

        <div class="col s12 m12 l8 aos-init aos-animate" data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-once="true">
          <div class="paper-title"><b>Cache-locality Based Adaptive Warp Scheduling for Neural Network Acceleration on GPGPUs </b>
          </div>
          <u>Weiming Hu</u>, Yi Zhou, Ying Quan, Yuanfeng Wang, Xin Lou <br>
          <em> IEEE 35th International System-on-Chip Conference (<b>SOCC</b> 2022)</em>
        
          <div>
            <a href="https://ieeexplore.ieee.org/document/9908120" target="_blank"><font color="red">[paper]</font></a>
            <img src="https://img.shields.io/github/stars/huweim/caws?style=social" />
            <a href="https://github.com/huweim/caws" target="_blank"><font color="red">[code]</font></a>
          </div>

        </div>
      </div>


      <!-- <div align='right'> <a href="./publications.html" class="more" target="_blank"><i></i> <font color="#A9A9A9" size="2">LEARN MORE>></font> </a></div> -->
  </div>


</div> 
<!--==========================================
                   Teaching
===========================================-->
<div class="section about teaching work" id="teaching">

  <div class="row container">
        
    <div class="row">
      <div class="title"><h2>Teaching</h2><b></b></div>
      <hr>
    </div>

    <div class="row">
      <li>CS2911: Introduction to Computing. Summer 2024, Teaching Assistant, Shanghai Jiao Tong University</li>
    </div>
    <div class="row">
      <li>CS2651: Computer Architecture. Spring 2024, Teaching Assistant, Shanghai Jiao Tong University</li>
    </div>
    <div class="row">
      <li><a href="https://toast-lab.sist.shanghaitech.edu.cn/courses/CS110@ShanghaiTech/Spring-2023/index.html"><font color="blue">CS110: Computer Architecture I</font></a>. Spring 2023, Teaching Assistant, ShanghaiTech University</li>
    </div>
</div>
<!--==========================================
                   Education
===========================================-->

<div class="section education-section scrollspy" id="education">
  <div class="row container">
    <div class="row">
      <div class="title"><h2>Education</h2><b></b></div>
      <hr>
    </div>

    <div class="row">

      <div class="col s12 m12 l8 aos-init aos-animate" data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-once="true">
        <!-- <div class="degree"><b>M.S.</b> degree from School of Information Science and Technology ShanghaiTech University, Shanghai, China</div> -->
        <!-- <div class="date">Sep. 2020 - July 2023</div> -->
        <b><em>2023.09 - Now</em></b>, Ph.D student in Computer Science, Department of Computer Science and Engineering, Shanghai Jiao Tong University.<br>
        <b><em>2020.09 - 2023.06</em></b>, M.S. in Computer Science, School of Information Science and Technology, ShanghaiTech University.<br>
        <b><em>2016.09 - 2020.06</em></b>,, B.E. in Civil Engineering, College of Architecture & Environment, Sichuan University.
      </div>
  </div>
    
    <!-- <div class="row">
        <div class="col s12 m12 l4 center aos-init aos-animate" data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-once="true">
          <a href="http://www.csu.edu.cn/" target="_blank">
            <img src="./img/sichuan_university.png" style="width:110px;height:110px;" align="center" class="img-responsive edu-img">
          </a>
        </div>

        <div class="col s12 m12 l8 aos-init aos-animate" data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-once="true">
          <p></p>
          <p></p>
          <p></p>
          <div class="degree"></div>
          <div class="degree"><b>B.E.</b> degree from College of Architecture & Environment, Sichuan University, Sichuan, China</div>
          <div class="date">Sep. 2016 - July 2020</div>
        </div>
    </div> -->



  </div>
</div>
<!-- ==========================================
                   Projects
=========================================== -->
<div class="section preprints-section scrollspy" id="projects">

  <div class="row container">
    <div class="row">
      <div class="title"><h2>Projects</h2><b></b></div>
      <hr>
    </div>

      <div class="row">

        <div>
          <img class="responsive-img icon" width="2%" src="./img/github_icon.png">
          <a href="https://github.com/huweim/Convolution_Kernel" target="_blank">Convolution Kernel ASIC</a><br>
        </div>
        <div>
          <img class="responsive-img icon" width="2%" src="./img/github_icon.png">
          <a href="https://github.com/huweim/Sniper" target="_blank">CPU simulation Sniper</a><br>
        </div>
        <!-- <div>
          <img class="responsive-img icon" width="2%" src="./img/github_icon.png">
          <a href="https://github.com/huweim/CA_Proj" target="_blank">CAWA Verification</a><br>
        </div> -->


  </div>

</div>
<!-- ==========================================
                   Awards
=========================================== -->
<!-- 
    <div class="section awards-section scrollspy" id="awards">
      <div class="row container">
        <div class="row">
          <div class="title">Awards</div>      
          <hr>
          <ul>
            <li> First prize of Sichuan Province in National Mathematics Competition for College Students, 2019</li>
            <li> Individual First-class Scholarship, 2018</li>
            <li> Individual Second-class Scholarship, 2017</li>
          </ul>
        </div>
      </div>
    </div>
    -->
<!-- pagination -->
<!--
{{ partial "pagination.html" . }}
-->
<footer id="footer" class="footer">
  <div class="row">
    <div class="widgetContainer" style="width:300px; margin: 0 auto;">        
      <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=V0G4VWjLbmQtlWmf34qv9_EcwxV7xZXgsIUmi8nGJfQ&cl=ffffff&w=a"></script>
    </div>
  </div>
  <div class="icon-links">
</footer>
{{ end }}

